<div class="section">
	<div class="container">
	<div class="columns is-centered">

		<div class="column is-4">
			
		<h2 class="title is-2">Sign Up</h2>

		<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	  <%= f.error_notification %>

	  <div class="field">
	  	<div class="control">
	    <%= f.input :name, required: true, autofocus: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" } %>
	  	</div>
		</div>

		<div class="field">
	  	<div class="control">
	    <%= f.input :username, required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" } %>
	  	</div>
		</div>

		<div class="field">
	  	<div class="control">
	    <%= f.input :email, required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" } %>
	  	</div>
		</div>
  
		  
		<div class="field">
			<div class="control">
				<%= f.input :password, required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" }, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
			</div>
		</div>

		<div class="field">
			<div class="control">
				<%= f.input :password_confirmation, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" } %>		
			</div>
		</div>

		<div class="field">
			<div class="control">
		 		<%= f.button :submit, "Sign up", class:"button is-info is-medium" %>
		</div>
						<script>
				window.fbAsyncInit = function() {
					FB.init({
					appId      : '444364956186741',
					xfbml      : true,
					version    : 'v4.0'
					});
					FB.AppEvents.logPageView();
				};

				(function(d, s, id){
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) {return;}
					js = d.createElement(s); js.id = id;
					js.src = "https://connect.facebook.net/en_US/sdk.js";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
				</script>
				<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
		<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v4.0&appId=2995170044040997&autoLogAppEvents=1"></script>
		<% end %>
			<br />
			<%= render "devise/shared/links" %>
		</div>
		</div>
	</div>
</div>
